<!--Página com lista de todos os alunos de determinada turma-->
{% extends "base.html" %}

{% block body %}

<h2>Egressos IFB</h2>
<br>
<p>
    Página com informações dos nossos egressos:
</p>
{% if egressos1 %} <!--Usado para informar se tem cursos cadastrados-->
    {% for egresso in egressos1 %}

        <div class="card">
            <h5 class="card-header">{{egresso.nome_completo}}</h5>
            <div class="card-body">
                <h5 class="card-title">Curso: {{egresso.curso}}</h5>
                <h5 class="card-title">Turma: {{egresso.turma}}</h5>
                <p class="card-text">Foto: {{egresso.foto}}</p>
                <p class="card-text">Cargo Atual: {{egresso.cargo_atual}}</p>
                <p class="card-text">Empresa Atual: {{egresso.empresa_atual}}</p>
                <p class="card-text">Trabalha na área: {{egresso.trabalha_area}}</p>
                <p class="card-text">O IFB ajudou: {{egresso.ifb_ajudou}}</p>
                <p class="card-title">A grade do IFB ajudou no trabalho: {{egresso.grade_ifb}}</p>
                <p class="card-title">Fez algum curso extra: {{egresso.curso_extra}}</p>
                <p class="card-title">Qual o curso extra: {{egresso.qual_curso_extra}}</p>
                <p class="card-title">Como avaliou o curso do IFB: {{egresso.opiniao_curso_ifb}}</p>
                <p class="card-title">O que pode melhorar no curso: {{egresso.pode_melhorar}}</p>
                <p class="card-title">Rede Socia: {{egresso.rede_social}}</p>
                <p class="card-title">lattes: {{egresso.lattes}}</p>
                <br>
            </div>
        </div>

    {% endfor %}

{% else %}
    <p>Nunhum egresso cadastrado</p>
{% endif %}

{% endblock %}