
{% extends "base.html" %}

{% block body %}

<h1>Turmas:</h1>
<br>
<p>
    Página com a lista de turmas do curso selecionado:
</p>

{% if turmas2%}
    {% for turma in turmas2 %}

        <div class="card">
            <h5 class="card-header">Período: {{turma.periodo}}</h5>
            <div class="card-body">
                <h5 class="card-title">Curso: {{turma.curso}}</h5>
                <p class="card-text">Data da formatura: {{turma.data_formatura}}</p>
                <p class="card-text">Foto: {{turma.foto}}</p>
                <p class="card-text">Foto: {{turma.curso.nivel}}</p>
                <a href="{% url 'egresso_select' turma.id %}" class="btn btn-success">Ver Egressos</a>
            </div>
        </div>

    {% endfor %}
{% else %}
    <p><strong>Não temos turmas cadastradas neste curso ainda!</strong></p>
{% endif %}

{% endblock %}