<!--página para gerenciar os coordenadores, na área de coodenador, atualizar o cadastro e excluir-->
{% extends "base.html" %}

{% block body %}
<br><br>
<H3>Área do coordenador</H3>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                Gerenciar Cursos
            </div>
            <div class="card-body">
              <h5 class="card-title">Área dedicada ao gerenciamento dos cursos do IFB.</h5>
              <a href="{% url 'listar_cursos' %}" class="btn btn-primary">Gerenciar Cursos</a>
            </div>
        </div>
        <br>
    
        <div class="card">
            <div class="card-header">
                Gerenciar Turmas
            </div>
            <div class="card-body">
              <h5 class="card-title">Área dedicada ao gerenciamento das turmas do IFB.</h5>
              <a href="{% url 'listar_turma' %}" class="btn btn-primary">Gerenciar Turmas</a>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="card-header">
                Gerenciar Alunos
            </div>
            <div class="card-body">
              <h5 class="card-title">Área dedicada ao gerenciamento dos egressos do IFB.</h5>
              <a href="{% url 'gerenciaraluno' %}" class="btn btn-primary">Gerenciar Alunos</a>
            </div>
        </div>
        <br>

        <div class="card">
            <div class="card-header">
                Atualizar meus dados
            </div>
            <div class="card-body">
              <h5 class="card-title">Área dedicada ao gerenciamento do perfil de usuário.</h5>
              <a class="btn btn-warning" href="{% url 'atualizar_dados_coordenador' %}">Editar</a>
              <a class="btn btn-danger" href="#">Delete</a>

            </div>
        </div>
          
       
    </div>
</div>
{% endblock %}


<!--Se precisar de explicação esse complemento pode ser utilizado no card-->
<!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
