<!--página para gerenciar os egresso, na área de egressos, atualizar o cadastro e excluir-->
{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                Atualizar meus dados
            </div>
            <div class="card-body">
              <h5 class="card-title">Área dedicada ao gerenciamento do perfil de usuário.</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-warning" href="{% url 'atualizar_dados_aluno' %}">Editar</a>
              <a class="btn btn-danger" href="#">Delete</a>
            </div>
        </div>


    </div>
</div>
{% endblock %}